_build/
out/*.bin
out/*.log
out/*.png
out/*.gif
!out/palette.png
!out/pal_game_060.png
!out/reel_scroller.png
!out/reel_rotozoom.png
!out/reel_stars.png
!out/ntsc_reel_rotozoom.png
!out/game.gif
!out/reel.gif
*.log
