_build/
out/*
!out/reel.gif
!out/reel_stills.png
!out/sheet_0.png
!out/map_c0.png
!out/map_c1.png
!out/judge_sheet.png
!out/motion_sheet.png
!out/evo_sheet.png
!out/judge.txt
!out/map.txt
*.log
synth.out
